.hero {
  height: $minBodyHeight;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    font-size: 2rem;
    @include respond(tab-port) {
      font-size: 3rem;
    }
  }
}
